section {
  width: 87vh;
}

btn {
  padding: 8px 12px;
  border: 1px solid var(--border);
  border-radius: 10px;
  background: transparent;
  color: var(--text);
  cursor: pointer
}

.btn:hover {
  border-color: var(--primary)
}

.btn--ghost {
  background: transparent
}

.btn.active {
  background: var(--primary);
  color: rgb(216, 216, 216);
  border-color: var(--primary)
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: var(--secondary); 
  width: 400px;
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

input, select, textarea {
  padding: .5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

button {
  padding: .75rem;
  border: none;
  border-radius: 4px;
  background-color: var(--primary);
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: var(--primary-dark);
}

button:active {
  background-color: var(--border);
}